version: '3.8'

services:
  server:
    build: ./server
    image: face-reco-server:dev
    container_name: face-reco-server-dev
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    image: face-reco-client:dev
    container_name: face-reco-client-dev
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - server
